{% extends 'base.html' %}


{% block content %}
<div class="main_cards" style="
  background: url('http://127.0.0.1:8000/{{ board.background }}') no-repeat center top fixed; -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
  min-height: 100vh;
  background-color: brown !important;">
  <div class="container">
    <div class="card_header">
        <h1>{{ card.title }}</h1>
        <p>Inside the column <a href="{% url 'boards' board.pk %}" style="color: white;">{{ board }}</a></p>
        <div>
            <div class="btn-group dropstart">
                <a type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Change card</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#add_mark_modal">Add mark</a></li>
                    <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#add_checklist_modal">Add checklist</a></li>
                </ul>
            </div>
            <a href="{% url 'delete_card' board_id=board.pk card_id=card.pk %}" class="btn btn-danger">Delete card</a>
        </div>
    </div>

    <hr style="color: white;">
    <div class="description_card_section">
        <div class="add_description_main">
            <h1>Description: </h1>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Card description
            </button>
        </div>
        <p>{{ card.description }}</p>
    </div>

    <hr style="color: white;">

    <div class="marks_section">
        <h1>Marks: </h1>
        {% for mark in marks %}
            <div class="mark_main">
                <span class="dot" style="background-color: {{ mark.hex_color }};"></span>
                <a href="{% url 'delete_mark' board_id=board.pk card_id=card.pk mark_id=mark.pk %}" class="btn btn-danger">delete mark</a>
            </div>
        {% endfor %}
    </div>

    <hr style="color: white;">

    <div class="checklists_section">

        {% for checklist in checklists %}
            <div class="checklist_main">
                <h4>{{ checklist.title }}</h4>
                
                {% for element in checklist.checklistelement_set.all %}
                <div class="inside_element">
                    {% if element.is_checked %}
                        <i class="bi bi-check2 checked_mark"></i>
                    {% else %}
                        <i class="bi bi-x unchecked_mark"></i>
                    {% endif %}

                    <p>{{ element.title }}</p>

                    <form action="" method="post">
                        {% csrf_token %}
                        {% if element.is_checked %}
                            <input type="hidden" checked value="{{ element.pk }}" name="element">
                        {% else %}
                            <input type="hidden" value="{{ element.pk }}" name="element">
                        {% endif %}
                        <button type="submit" class="btn btn-success" name="change_cheklistelement_state">Change</button>
                    </form>
                    
                </div>
                {% endfor %}

                <div class="btn-group dropup mt-4">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Add element
                    </button>
                    <a type="submit" class="btn btn-danger" style="margin-left: 10px; border-radius: 5px;">Delete checklist</a>
                    <ul class="dropdown-menu">

                        <form method="post" class="checklist_element_add">
                            {% csrf_token %}
                            
                            <div class="input-group mb-3">
                                <input type="hidden" value="{{ checklist.pk }}" name="checklist">
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="element_title" placeholder="add element">
                            </div>
            
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="add_checklist_element">Add</button>
                        </form>
                    </ul>
                  </div>
            </div>

        {% endfor %}
    </div>

    <hr style="color: white;">
    <div class="comment_card_section">
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment_body" placeholder="Write your comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" name="comments_creation_form">Submit</button>
        </form>

        <div class="comments mt-5">
            <div class="comments_inside">
                <h3>Comments:</h3>
                {% for comment in comments %}
                    <p>
                        On {{comment.created_on.date }}&nbsp;
                        <b>{{ comment.author }}</b> wrote:
                    </p>
                    <p>{{ comment.body }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" placeholder="Change description"></textarea>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="card_description">Change</button>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add_mark_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add new mark</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <select class="form-select mark_select" aria-label="Default select example" name="mark_color">
                    <option selected>Choose color</option>
                    <option value="#00FFFF">Green mark</option>
                    <option value="#FFFF00">Yellow mark</option>
                    <option value="#FFA500">Orange mark</option>
                    <option value="#FF0000">Red mark</option>
                    <option value="#9F2B68">Purple mark</option>
                    <option value="#0000FF">Blue mark</option>

                </select>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">or add your own color(hex format)</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="mark_color_user">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="add_mark">Add</button>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add_checklist_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add checklist</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">title</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="checklist_title">
                </div>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="add_checklist">Add</button>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}